asgiref
Django
django-cors-headers
djangorestframework
djangorestframework_simplejwt
PyJWT
rest-framework-simplejwt
setuptools
sqlparse
tzdata
wheel
django
psycopg2-binary
python-dotenv
dj-database-url
gunicorn
